
.App {
  text-align: center;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 1.25rem !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(3, 215, 243);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}












.App {
  /*background-color: #21D4FD;
  background-image: linear-gradient( 
359deg
, #217d93eb 0%, #eee3a7 100%);
  height: 100%;*/
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

.btnLogin {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 81px;
    background-color: #E0E0E0;
    background-image: linear-gradient(
19deg
, #21D4FD 0%, #B721FF 100%);
  cursor: pointer;
}




.login .loginContainer {
  padding: 46px;
  margin: auto;
  width: 94%;
  max-width: 512px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 81px;
  background:white;
    }
.p-4 {
    padding: 0.5rem!important;
}
.login .loginContainer label {
  color: rgb(0, 0, 0);
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
}
.imglogin {
  margin: auto;
  width: 6.25rem;
  height: 6.25rem;
  display: flex;
  border-radius: 9999px;
  background-color: #E9D985;
  /* border: 1px solid black; */
  box-shadow: 0px 0px 2px #5f5f5f, 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #a7aaaf, -8px -8px 15px #ffffff;
}

.imglogin{
  margin: auto;
	width: 6.25rem;
	height: 6.25rem;
	display: flex;
	border-radius: 9999px;
	background-color: #E9D985;
/* 	border: 1px solid black; */
	box-shadow: 
		0px 0px 2px #5F5F5F,
		0px 0px 0px 5px #ECF0F3,
		8px 8px 15px #A7AAAF,
		-8px -8px 15px #FFFFFF;
}

.login .loginContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  border: #ff980021;
  background: gainsboro;
  color: rgb(0, 0, 0);
  letter-spacing: 1px;
  border-style: revert;
  border-radius: 81px;
  
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: rgb(240, 11, 11);
}

.login .loginContainer .btnContainer p span {
  color: rgb(0, 0, 0);
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
  color: rgb(236, 14, 14);
}

.login .loginContainer .errorMsg {
  color: rgb(236, 16, 16);
  font-size: 16px;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background: wheat;
}

.hero nav {
  background: rgb(255 7 7 / 80%);
  width: 100%;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero nav h2 {
  color: #fff;
}

.hero nav button {
  width: 86px;
  padding: 8px 0;
  background: #3a2b58;
}
.bg-light {
  background-color: #03a9f4!important;
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
  border-radius: 1.25rem;
}
.navlinks{

    color: #340400ba;
    text-decoration: auto;
    background-color: transparent;
    margin: 5px;
    height: 20px;

}